In [48]:
import pandas as pd
import glob
import os

## Google pixel

In [51]:
# specify the folder path and pattern
folder_path = r'C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Mobile_Raw_Data\Google'
file_pattern = 'amazon*'

# get the list of all files matching the pattern
file_list = glob.glob(f'{folder_path}\\{file_pattern}')

# read all files into a list of dataframes
dataframes = [pd.read_csv(file) for file in file_list]

# concatenate all dataframes in the list into a single dataframe
df_combined = pd.concat(dataframes, ignore_index=True)

df_combined['Product Brand'] = 'Google Pixel'

df_combined_pixel = df_combined[['Product Brand', 'Review Body']]
df_combined_pixel = df_combined_pixel.reset_index()
df_combined_pixel.rename(columns = {'index':'Post ID', 'Review Body':'Text'}, inplace = True)
df_combined_pixel.head()

   Post ID Product Brand                                               Text
0        0  Google Pixel  As someone who previously owned an Apple flags...
1        1  Google Pixel  T√©l√©phone portable pixels 9 pro tr√®s satisfait...
2        2  Google Pixel  Good phone, but it does not have the best batt...
3        3  Google Pixel  Hello Buyer,\n\nI recently purchased the Pixel...
4        4  Google Pixel  Okay, so my old phone was 6 years old and it s...

In [87]:
df_flipkart = pd.read_csv(r"C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Mobile_Raw_Data\Google\flipkart_reviews_all_pages.csv",usecols = ['Review'])
df_flipkart['Product Brand'] = 'Google Pixel'
df_flipkart = df_flipkart.reset_index()
df_flipkart.rename(columns = {'index':'Post ID', 'Review':'Text'}, inplace = True)
df_flipkart.head()

   Post ID                                               Text Product Brand
0        0  Upgraded from Pixel 4A to Pixel 9. Fantastic u...  Google Pixel
1        1                        Overall experience superb..  Google Pixel
2        2  Camera with this phone just kills my iphone 14...  Google Pixel
3        3  Upgraded from my pixel 6a and honestly much be...  Google Pixel
4        4                             Outstanding ü•∞ loved it  Google Pixel

In [ ]:
df_1 = pd.read_csv(r"C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Scraped_files\reddit_posts_pixel_9_pro.csv",usecols=['selftext'])
df_2 = pd.read_csv(r"C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Scraped_files\reddit_posts_expanded_comments.csv",usecols=['comment_text']).dropna()
df_1.rename(columns = {'selftext':'Text'}, inplace = True)
df_2.rename(columns = {'comment_text':'Text'}, inplace = True)
df_combined_reddit = pd.concat([df_1,df_2],ignore_index=True)
df_combined_reddit['Product Brand'] = 'Google Pixel'

### Combining data from all sources - pixel

In [ ]:
df_combined_pixel_final =  pd.concat([df_combined_pixel[['Text','Product Brand']],df_flipkart[['Text','Product Brand']],df_combined_reddit[['Text','Product Brand']]],ignore_index=True)
df_combined_pixel_final = df_combined_pixel_final.reset_index()
df_combined_pixel_final.rename(columns = {'index':'Post ID'}, inplace = True)

In [100]:
df_combined_pixel_final.head()

   Post ID                                               Text Product Brand
0        0  As someone who previously owned an Apple flags...  Google Pixel
1        1  T√©l√©phone portable pixels 9 pro tr√®s satisfait...  Google Pixel
2        2  Good phone, but it does not have the best batt...  Google Pixel
3        3  Hello Buyer,\n\nI recently purchased the Pixel...  Google Pixel
4        4  Okay, so my old phone was 6 years old and it s...  Google Pixel

## iphone

In [42]:
# specify the new folder path and pattern
folder_path_iphone = r'C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Mobile_Raw_Data\iphone'
file_pattern_iphone = 'reddit*'

# get the list of all files matching the pattern in the new folder
file_list_iphone = glob.glob(f'{folder_path_iphone}\\{file_pattern_iphone}')


# read all files into a list of dataframes with only the specified columns
# specify the columns to read
columns_to_read = ['comment_id', 'comment_body']
df_1 = pd.read_csv(file_list_iphone[0], usecols=columns_to_read)
df_1.rename(columns={'comment_id':'Post ID', 'comment_body':'Text'}, inplace=True)
columns_to_read = ['selftext']
df_2 = pd.read_csv(file_list_iphone[1], usecols=columns_to_read)
df_2 = df_2.reset_index()
df_2.rename(columns={'index':'Post ID', 'selftext':'Text'}, inplace=True)
# concatenate all dataframes in the list into a single dataframe
df_combined_iphone = pd.concat([df_1, df_2])
df_combined_iphone['Product Brand'] = 'iPhone'
df_combined_iphone.head()

   Post ID                                               Text Product Brand
0  mbb93hn  Should be flush and even. Definitely not how y...        iPhone
1  mbbd9uq  Ask for a swap. You paid for it so definitely ...        iPhone
2  mbci26p  I've been to an appliance store in my city and...        iPhone
3  mbafaic  sounds like a faulty phone. why didnt you retu...        iPhone
4  mbagfy9  Just got the 16PM, upgraded from a 13P. \nI do...        iPhone

In [53]:
df_combined_iphone.shape

(4834, 3)

### Oppo

In [ ]:
# specify the new folder path and pattern
folder_path_oppo = r'C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Mobile_Raw_Data\Oppo find x8 pro'
file_pattern_oppo = 'reddit*'

# get the list of all files matching the pattern in the new folder
file_list_oppo = glob.glob(f'{folder_path_oppo}\\{file_pattern_oppo}')

# specify the columns to read
columns_to_read = ['Post ID', 'Text']

# read all files into a list of dataframes with only the specified columns
dataframes_oppo_filtered = [pd.read_csv(file, usecols=columns_to_read) for file in file_list_oppo]

# concatenate all filtered dataframes in the list into a single dataframe
df_combined_oppo_filtered = pd.concat(dataframes_oppo_filtered, ignore_index=True)

df_combined_oppo_filtered['Product Brand'] = 'Oppo Find X3 Pro'
df_combined_oppo_filtered.head()

In [54]:
df_combined_oppo_filtered.shape

(1700, 3)

## Samsung S24 Ultra

In [77]:
# specify the new folder path and pattern
folder_path_samsung = r'C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Mobile_Raw_Data\Samsung_S24Ultra'
file_pattern_samsung = 'Samsung*'

# get the list of all files matching the pattern in the new folder
file_list_samsung = glob.glob(f'{folder_path_samsung}\\{file_pattern_samsung}')

df_1 = pd.read_csv(file_list_samsung[0],usecols=['Comment Body'])
df_1 = df_1.reset_index()
df_1['Product Brand'] = 'Samsung S24 Ultra'
df_1.rename(columns={'index':'Post ID','Comment Body':'Text'}, inplace=True)
df_2 = pd.read_csv(file_list_samsung[1],usecols=['Comment Body'])
df_2 = df_2.reset_index()
df_2['Product Brand'] = 'Samsung S24 Ultra'
df_2.rename(columns={'index':'Post ID','Comment Body':'Text'}, inplace=True)

# Concatenate all dataframes in the list into a single dataframe
df_combined_samsung_filtered = pd.concat([df_1, df_2])
df_combined_samsung_filtered.head()

,Post ID,Text,Product Brand
0,0,"Thank you for your submission! As a reminder, ...",Samsung S24 Ultra
1,1,14-1/2 hours off the charger on LTE/5G and 3-1...,Samsung S24 Ultra
2,2,"Thank you for your submission! As a reminder, ...",Samsung S24 Ultra
3,3,It drains battery on any phone. Check if you h...,Samsung S24 Ultra
4,4,My battery isn't that good as well. I thought ...,Samsung S24 Ultra

In [78]:
df_combined_samsung_filtered.shape

(1937, 3)

## Xiaomi

In [102]:
df_combined_xiaomi = pd.read_csv(r"C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Mobile_Raw_Data\Xiaomi\xiaomi_14Ultra_reddit_posts-360d.csv",usecols=['selftext'])
df_combined_xiaomi = df_combined_xiaomi.reset_index()
df_combined_xiaomi['selftext'].dropna(inplace=True)
df_combined_xiaomi['Product Brand'] = 'Xiaomi 14 Ultra'
df_combined_xiaomi.rename(columns={'index':'Post ID','selftext':'Text'}, inplace=True)
df_combined_xiaomi.head()

   Post ID                                               Text    Product Brand
0        0  Yeah... I may be weird but I honestly don't li...  Xiaomi 14 Ultra
1        1  A background.\nDie-hard Android enthusiast, si...  Xiaomi 14 Ultra
2        2  Bad news I had the 14 Ultra I got it when it 1...  Xiaomi 14 Ultra
3        3  I have never owned a Xiaomi product in my life...  Xiaomi 14 Ultra
4        4  I absolutely love what Xiaomi has done with th...  Xiaomi 14 Ultra

In [103]:
df_combined_xiaomi.shape

(448, 3)

In [133]:
# specify the new folder path and pattern
folder_path_xiaomi = r'C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Mobile_Raw_Data\Xiaomi'
file_pattern_xiaomi = 'New_xiaomi*'

# get the list of all files matching the pattern in the new folder
file_list_xiaomi = glob.glob(f'{folder_path_xiaomi}\\{file_pattern_xiaomi}')

df_1 = pd.read_csv(file_list_xiaomi[0],usecols=['comment_body'])
df_1.rename(columns={'comment_body':'Text'}, inplace=True)
df_2 = pd.read_csv(file_list_xiaomi[1],usecols=['selftext'])
df_2.rename(columns={'selftext':'Text'}, inplace=True)
df_3 = pd.concat([df_1,df_2,df_combined_xiaomi[['Text']]],ignore_index=True)
df_3 = df_3.drop_duplicates()
df_3 = df_3.reset_index()
df_3['Product Brand'] = 'Xiaomi 14 Ultra'
df_3.rename(columns={'index':'Post ID'}, inplace=True)

# Concatenate all dataframes in the list into a single dataframe
df_combined_xiaomi_filtered = df_3
df_combined_xiaomi_filtered.head()

   Post ID                                               Text    Product Brand
0        0  I love to see a good trully enthusiast write d...  Xiaomi 14 Ultra
1        1  Now this is a WELLLLL written and detailed art...  Xiaomi 14 Ultra
2        2                                          [deleted]  Xiaomi 14 Ultra
3        3                     its actually an amazing device  Xiaomi 14 Ultra
4        4  Ditched the s24u and the honor magic 6 pro for...  Xiaomi 14 Ultra

In [135]:
df_final = pd.concat([df_combined_pixel_final,df_combined_iphone,df_combined_oppo_filtered,df_combined_samsung_filtered,df_combined_xiaomi_filtered],ignore_index=True)#.to_csv(r"C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Scraped_files\combined_mobile_data.csv",index=False)

In [136]:
df_final = df_final[~df_final['Text'].isna()]

In [137]:
df_final.to_csv(r"C:\Users\hp\Documents\GitHub\LLM-Enhanced-Text-Classification\Scraped_files\all_brands_combined_mobile_data_final.csv",index=False)